<div class = "text-center">
<nav aria-label="breadcrumb">
     <h1>질문의 내용은 다음과 같습니다.</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= @ask.question%></li>
  </ol>
  <a href ="/ask" class="btn btn-info">뒤로가기</a>
</nav>
</div>