<form action= "/user/create" method ="post">
    <input type ='text' name = 'authenticity_token' value=<%= form_authenticity_token %>>
    <input type ='text' name ="user_name" placeholder ="user_name">
    <input type ='password' name ='password' placeholder= 'password'>
    <input type = 'submit' name='가입'>
</form>